@font-face {
  font-family: 'iconfont';
  src: url('http://cdn.crowd.datatang.com/Scripts/crowdmark/fonts/iconfont.eot?t=1483952746422');
  /* IE9*/
  src: url('http://cdn.crowd.datatang.com/Scripts/crowdmark/fonts/iconfont.eot?t=1483952746422#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://cdn.crowd.datatang.com/Scripts/crowdmark/fonts/iconfont.woff?t=1483952746422') format('woff'), /* chrome, firefox */
  url('http://cdn.crowd.datatang.com/Scripts/crowdmark/fonts/iconfont.ttf?t=1483952746422') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('http://cdn.crowd.datatang.com/Scripts/crowdmark/fonts/iconfont.svg?t=1483952746422#iconfont') format('svg');
  /* iOS 4.1- */
}

.icon {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
  content: '\e634';
}

.icon-clear:before {
  content: '\e605';
}

.icon-undo:before {
  content: '\e634';
}

.icon-choose:before {
  content: '\e6c3';
}

.icon-clear:before {
  content: '\e605';
}

.icon-point:before {
  content: '\e6a2';
}

.icon-line:before {
  content: '\e607';
}

.icon-rect:before {
  content: '\e608';
}

.icon-polygon:before {
  content: '\e609';
}

.draw-tool {
  padding: 10px;
  border: 1px solid #eee;
}

.draw-tool > .btn-group {
  margin-right: 2px;
}

.draw-tool > .btn-group:last-child {
  margin-right: 0;
}

.draw-tool > .btn-group > .btn > .icon {
  float: left;
  margin: -1px 8px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
}

.draw-tool > .position-tips {
  display: inline-block;
}

.draw-container {
  position: relative;
  background-color: #eee;
  min-height: 500px;
  text-align: center;
  z-index: 100;
}

.draw-container.drag-cursor {
  cursor: move;
}

.draw-container > .draw-grid {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 120px;
  height: 120px;
  background-color: #eee;
  border: 2px solid #fff;
}

.draw-container > .draw-grid > .canvas-grid {
  width: 100%;
  height: 100%
}

.draw-container > .draw-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.draw-container > .draw-canvas > .canvas-paint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.draw-container > img {
  width: 100%;
}

.draw-zoom {
  padding: 10px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.1);
}

.draw-zoom > .zoom-button {
  float: left;
  margin-right: 10px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
}

.draw-zoom > .zoom-button.zoom-in {
  left: 20px;
  background: url("data:image/gif;base64,R0lGODlhHAAcAIABAAAAAP///ywAAAAAHAAcAAACOYyPqcvtD6OcCFjaLMBM8+V9SSgeZBmcpSqyjgbHMqzM9lzf+iW5nI8BUoQTYo+HSiFRxkgzCY1CCgA7");
}

.draw-zoom > .zoom-button.zoom-out {
  left: 55px;
  background: url("data:image/gif;base64,R0lGODlhHAAcAIABAAAAAP///ywAAAAAHAAcAAACJIyPqcvtD6OctNqLs968ewqE4kiWgGKmJqq24QfH8kzX9o1zBQA7");
}

.draw-zoom > .zoom-button.zoom-zero {
  left: 90px;
  background: url("data:image/gif;base64,R0lGODlhHAAcAIABAAAAAP///ywAAAAAHAAcAAACQYyPqcvtD6OctNqLMQBxu809YAOG5Lh4HrIGqpmErdHKcHozM97lsa/YBYE/EZF1dCVpyZ1QWEQOM9Sq9YrNahMFADs=");
}

.draw-zoom > .zoom-button.zoom-fit {
  left: 125px;
  background: url("data:image/gif;base64,R0lGODlhHAAcAIABAAAAAP///ywAAAAAHAAcAAACPoyPqcvtDxuYtJ6KQdJx8dt5W6h8hkkGKEquKeK+5yirtMzW+l7nXYy7vYBDYYp4NLaUIeQSlqFcohOe9VEAADs=");
}

.draw-zoom > .zoom-button.zoom-status {
  margin-right: 0;
  width: 50px;
  line-height: 28px;
  background-color: #eee;
  cursor: default;
  text-align: center;
}

.draw-count {
  padding: 0 10px;
  height: 40px;
  border: 1px solid #eee;
  border-top: none;
  line-height: 40px;
}

.draw-count > .item {
  display: inline-block;
  margin-right: 20px;
  color: #333;
}

.draw-count > .item > .key {
  color: #999;
}

.draw-nav {
  height: 130px;
  border: 1px solid #eee;
  border-top: none;
  overflow: hidden;
  overflow-y: scroll;
}
.draw-nav > ul {
  padding: 10px;
}

.draw-nav > ul > li {
  float: left;
  margin: 0 10px 10px 0;
  padding: 0 0 0 10px;
  height: 30px;
  line-height: 30px;
  list-style: none;
  background-color: #898989;
  border-radius: 3px;
  cursor: pointer;
}

.draw-nav > ul > li.hide {
  display: block !important;
  opacity: .4;
  filter: alpha(opacity=40);
}

.draw-nav > ul > li.show {
  opacity: 1;
  filter: alpha(opacity=100);
}

.draw-nav > ul > li > span {
  color: #fff;
}

.draw-nav > ul > li > .close {
  margin-left: 8px;
  padding: 0 8px 5px;
  line-height: 25px;
  font-size: 24px;
  font-weight: 100;
  background-color: rgba(255, 255, 255, .25);
}

.draw-nav > ul > li.passed {
  background-color: #5cb85c;
}

.draw-nav > ul > li.failed {
  background-color: #d9534f;
}

.draw-form {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px 10px 10px;
  width: 240px;
  background: #fff;
  display: none;
  z-index: 101;
  box-shadow: 0 0px 5px #666;
  text-align: left;
}

.draw-form > .form-header {
  margin: -10px -10px 0;
  height: 40px;
  background-color: #eee;
}

.draw-form > .form-header > .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.draw-form > .form-header > .close:hover {
  background-color: #ddd;
}

.draw-form > .form-header > .toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.draw-form > .form-header > .toggle:before {
  position: absolute;
  top: 50%;
  left: 45px;
  margin-top: -6px;
  content: '';
  width: 12px;
  height: 12px;
  z-index: 30;
  border-top: 6px transparent solid;
  border-right: 6px transparent dashed;
  border-bottom: 6px transparent dashed;
  border-left: 8px #666 solid;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}

.draw-form > .form-header > .toggle.arrow-bottom:before {
  left: 42px;
  margin-top: -3px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);   /* IE 9 */
  -moz-transform: rotate(90deg);  /* Firefox */
  -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
  -o-transform: rotate(90deg);
}

.draw-form > .form-body .form-group {
  margin-bottom: 5px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.draw-form > .form-body .form-group label {
  font-weight: normal;
}

.draw-form > .form-body .form-group > .radio,
.draw-form > .form-body .form-group > .checkbox {
  margin: 0;
}

.draw-form > .form-body .form-group.has-error .form-control-feedback {
  top: 30px;
}

.draw-form > .form-body > .quality-form {
  position: relative;
}

.draw-form > .form-body > .quality-form:before {
  position: absolute;
  top: 0;
  left: -10px;
  right: -10px;
  content: '';
  border-top: 1px solid #ddd;
}

.draw-form > .form-body > .quality-form > .form-group > .error-list > label {
  float: left;
  width: 50%;
}

.draw-form > .form-body > .quality-form > .form-group > .error-list input[type="radio"],
.draw-form > .form-body > .quality-form > .form-group > .error-list input[type="checkbox"] {
  vertical-align: top;
}

.draw-form > .form-body > .quality-form > .quality-field {
  display: none;
}

.draw-form > .form-body > .quality-form > .quality-field > .error-list > span {
  margin-right: 10px;
}

.draw-form > .form-body > .quality-form > .quality-field > .error-info {
  word-wrap: break-word;
}

.draw-form > .form-body > .quality-form > .form-group > .check-list input[type=radio] {
  margin-top: 3px;
}

.draw-form > .form-body > .quality-form > .form-group > .check-list > .text-passed {
  color: #449d44;
}

.draw-form > .form-body > .quality-form > .form-group > .check-list > .text-failed {
  color: #f00;
}

.draw-form > .form-action {
  margin-top: 10px;
}

.draw-form > .form-action > .btn {
  margin-right: 10px;
}

.draw-form > .form-action > .text-danger {
  margin: 5px 0 0 0;
  font-size: 12px;
}

.effective-form {
  margin-top: 10px;
  padding: 10px;
  background-color: #f2f6fa;
  border-radius: 3px;
}

.effective-form > .form-group {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: none !important;
}

.effective-form > .form-group > .radio {
  padding-top: 0;
  padding-left: 20px !important;
}

.effective-form > .form-group > .radio > .radio-inline {
  width: 60px;
}

.effective-form > .form-group > .radio > .radio-inline > input[type=radio] {
  margin-left: -17px;
}
