.dt-box {
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid blue;
}

.dt-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute;
}

.dt-scale-line {
  background: rgba(0,60,136,0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}
.dt-scale-line-inner {
  border: 1px solid #eee;
  border-top: none;
  color: #eee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
}
.dt-overlay-container {
  will-change: left,right,top,bottom;
}

.dt-unsupported {
  display: none;
}
.dt-viewport .dt-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dt-control {
  position: absolute;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 2px;
}
.dt-control:hover {
  background-color: rgba(255,255,255,0.6);
}
.dt-zoom {
  top: .5em;
  left: .5em;
}
.dt-rotate {
  top: .5em;
  right: .5em;
  transition: opacity .25s linear, visibility 0s linear;
}
.dt-rotate.dt-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s linear, visibility 0s linear .25s;
}
.dt-zoom-extent {
  top: 4.643em;
  left: .5em;
}
.dt-full-screen {
  right: .5em;
  top: .5em;
}
@media print {
  .dt-control {
    display: none;
  }
}

.dt-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 1.14em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: .4em;
  background-color: rgba(0,60,136,0.5);
  border: none;
  border-radius: 2px;
}
.dt-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.dt-zoom-extent button {
  line-height: 1.4em;
}
.dt-compass {
  display: block;
  font-weight: normal;
  font-size: 1.2em;
  will-change: transform;
}
.dt-touch .dt-control button {
  font-size: 1.5em;
}
.dt-touch .dt-zoom-extent {
  top: 5.5em;
}
.dt-control button:hover,
.dt-control button:focus {
  text-decoration: none;
  background-color: rgba(0,60,136,0.7);
}
.dt-zoom .dt-zoom-in {
  border-radius: 2px 2px 0 0;
}
.dt-zoom .dt-zoom-out {
  border-radius: 0 0 2px 2px;
}


.dt-attribution {
  text-align: right;
  bottom: .5em;
  right: .5em;
  max-width: calc(100% - 1.3em);
}

.dt-attribution ul {
  margin: 0;
  padding: 0 .5em;
  font-size: .7rem;
  line-height: 1.375em;
  color: #000;
  text-shadow: 0 0 2px #fff;
}
.dt-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}
.dt-attribution li:not(:last-child):after {
  content: " ";
}
.dt-attribution img {
  max-height: 2em;
  max-width: inherit;
  vertical-align: middle;
}
.dt-attribution ul, .dt-attribution button {
  display: inline-block;
}
.dt-attribution.dt-collapsed ul {
  display: none;
}
.dt-attribution.dt-logo-only ul {
  display: block;
}
.dt-attribution:not(.dt-collapsed) {
  background: rgba(255,255,255,0.8);
}
.dt-attribution.dt-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  height: 1.1em;
  line-height: 1em;
}
.dt-attribution.dt-logo-only {
  background: transparent;
  bottom: .4em;
  height: 1.1em;
  line-height: 1em;
}
.dt-attribution.dt-uncollapsible img {
  margin-top: -.2em;
  max-height: 1.6em;
}
.dt-attribution.dt-logo-only button,
.dt-attribution.dt-uncollapsible button {
  display: none;
}

.dt-zoomslider {
  top: 4.5em;
  left: .5em;
  height: 200px;
}
.dt-zoomslider button {
  position: relative;
  height: 10px;
}

.dt-touch .dt-zoomslider {
  top: 5.5em;
}

.dt-overviewmap {
  left: 0.5em;
  bottom: 0.5em;
}
.dt-overviewmap.dt-uncollapsible {
  bottom: 0;
  left: 0;
  border-radius: 0 4px 0 0;
}
.dt-overviewmap .dt-overviewmap-map,
.dt-overviewmap button {
  display: inline-block;
}
.dt-overviewmap .dt-overviewmap-map {
  border: 1px solid #7b98bc;
  height: 150px;
  margin: 2px;
  width: 150px;
}
.dt-overviewmap:not(.dt-collapsed) button{
  bottom: 1px;
  left: 2px;
  position: absolute;
}
.dt-overviewmap.dt-collapsed .dt-overviewmap-map,
.dt-overviewmap.dt-uncollapsible button {
  display: none;
}
.dt-overviewmap:not(.dt-collapsed) {
  background: rgba(255,255,255,0.8);
}
.dt-overviewmap-box {
  border: 2px dotted rgba(0,60,136,0.7);
}
